*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #26327F);
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container-card{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: #F9F9F9;
    margin-top: 4rem;
}
.container-card-img{
    width: 10rem;
}
.container-card-header{
    display: flex;
    flex-direction: column;
}
.container-card-header-input{
    border-radius: 24px;
}
.container-card-header-btn_salvar{
    width: 8.75rem;
    height: 3rem;
    border-radius: 24px;
}